/* Main settings */


*{
	margin:0px;
	padding:0px;
	font-size:15px;
	line-height:1.5;
	font-family:Helvetica, Arial, sans-serif;
	color:#592C12
}

.blue{
	color:#0095db !important;
}

.boldDark{
	color:#444444 !important;
	font-weight:bold !important;
}

a.link:link {color:#7E3D97; padding:2px}   
a.link:visited {color:#7E3D97;}
a.link:hover {color:#fff; background: #7E3D97; text-decoration: none}
a.link:active {color:#7E3D97;}

/* Main info window */

h1{font-family:'Schoolbell'; padding:15px 0 10px 0; font-size:34px; color: #7E3D97; line-height:1; text-shadow:1px 1px 0px  rgba(255,255,255,0.5), 2px 2px 0px  rgba(255,255,255,0.5)}

p{padding-bottom:15px}
.infoDiv{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin:0px !important;
	padding:0 !important;
	font-family:Arial !important;
	font-size:12px !important;
	background-color:#E8D6A8!important;
	background-color:rgba(232,214,168, .9) !important;
	line-height:18px !important;
	border-radius: 0 !important;
	text-align:justify !important;
	color:#585858 !important;
	border:8px solid #592C12;
	width:800px;
}

.infoText{	
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding:35px ;
	width:100%;
}

.infoContent{
	width: 410px;
	float:right;
}

.infoImg{
	float:left;
	width:285px;
}
.infoImg img{
	max-width: 100%;
	width:100%;
	height:auto;
	border: 0
}

.infoImgSrc a{
	font-size:11px !important;
	font-style:italic;
	color:#592C12
}
.infoSources p{padding: 0;  color:#592C12}



/* Global classes */
.dark{
	color:#333333 !important;
}

.firstP{
	margin-top:15px !important;
}

.middleP{
	margin-top:10px !important;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Media Queries */
@media screen and (max-width: 480px) {

	.youtubeVideo{
		margin:0px !important;
		padding:0px !important;
		width:100%;
		clear:both !important;
	}
	
	.lastParagraph{
		margin:0px !important;
		padding:0px !important;
		clear:both !important;
		margin-bottom:10px !important;
		padding-top:10px !important;
	}
	
	.columns, .columnsSeparator{
		margin:0px !important;
		padding:0px !important;
		display:none !important;
	}

	
}
